body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #d0a266;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #6b4f3b; 
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #6b4f3b;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 6px;
}


.menu .active {
  background-color: #d2b48c;
  color: rgb(151, 117, 45);
}

/* hover effect */
.menu a:hover {
  background-color: #e6ccb2;
}
body {
  background-image: url("cofee.webp");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.le{
  margin: 200;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

}

.nav-links{
  float: right;
  list-style: none;
  gap: 15px;
}
.nav-links li{
  color: white;
  padding: 8px 15px;
  border-radius: 4px;

  transition: 0.3s;
}
.nav-links li:hover {
  background: #685075;
}

table{
    border-collapse: collapse;
}
thead {
  background-color: rgb(182, 132, 83);
  color: rgb(15, 9, 1);
}
td,th{
    border: 1px solid rgb(19, 10, 71);
    padding: 15px;

}

tbody tr:nth-child(odd){
    background-color: rgb(211, 170, 81);
}

tbody tr:nth-child(even){
    background-color: #875316;
}

table {
  margin: 0 auto;
}
p {
  text-align: center;
}

.Foto {
  display: flex;
  justify-content: center;
}

.Fotos {
  display: flex;
  justify-content: center;
  gap: 30px; 
}

.le{
  text-align: center;
}

@media (max-width: 600px) {
  body {
    background-color: rgb(183, 143, 41);
    font-size: 14px;
    padding: 10px;
  }
}

a:hover {
  text-decoration: underline;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(165, 112, 42);
}


.Fotos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

.Fotos img {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  animation: bounce 6s infinite alternate;
}


.Fotos img:nth-child(2) {
  animation-delay: 2s;
}

.Fotos img:nth-child(3) {
  animation-delay: 4s;
}

@keyframes bounce {
  to {
    width: 150px;
    height: 150px;
    transform: translateY(-50px);
  }
}

.gallery{
    margin: 5px;
    border: 1px solid rgb(182, 125, 79);
    float: left;
    width: 180px;
}

.gallery:hover{

    border:2px solid rgb(206, 140, 87)
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    text-align: center;
    padding: 15px;
}

.el{
  text-align: center;
}

.gallery{
  align-items: center;
}