article p {
    background: pink;
    color: white;
    padding: 20px;
}

article > p{
    background: lightcoral;
    color: white;
    padding: 20px;
}

article ~ p{
    background: lightgreen;
    color: white;
    padding: 20px;
}

article + p{
    background: lightblue;
    color: white;
    padding: 20px;
}
span:first-of-type{
    background:lightgrey;
    color: white;
    padding: 10px;
}
form{
    margin-top: 20px;
}
input:invalid{
    border:2px solid pink;
}
input:valid{
    border: 2px solid lightskyblue;
}

input:in-range{
    border: 3px solid lightblue;
}
input:out-of-range{
    border: 3px solid pink;
}
p::first-line{
    color: lightgoldenrodyellow
}
p::first-letter{
    font-size: 40px;
}
div{
    opacity: 0.5;
}